.App {
    text-align: center;
}

h1 {
    font-family: 'Roboto', 'sans-serif';
    font-size: 100px;
    transform: rotate(-90deg);
    position: absolute;
    left: 0;
    top: 35vh;
}

#event-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}